.bikes{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1% 4%;
    gap: 4% 2%;
}

.bikes__bike-card{
    background-color: white;
    transition: all 300ms ease-in-out;
}

.bikes__bike-card>span{
    color: black;
}

.bikes__bike-card:hover{
    scale:1.08;
}

.bikes__bike-card__button{
    border-radius: 1rem;
    transition: 300ms ease-in;
}

.bikes__bike-card__button:active{
    scale: 1.1;
}

@media screen and (max-width:1800px) {
    .bikes{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:1200px) {
    .bikes {
        grid-template-columns: auto;
        gap: 2% 2%;
    }
}