.delete-user-account{
    display: flex;
    flex-direction: column;
}
.delete-user-account__title{
    text-align: center;
    min-width: fit-content;
}

.delete-user-account__reason-div{
    margin: 3% 15%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 35rem;
}
.delete-user-account__reason-div > h3{
    margin: 0;
}

.delete-user-account__reason-div >select{
    font-size: 1.5rem;
    word-wrap: break-word;
    background-color: aliceblue;
    border: 0;
    border-radius: 1rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
}
.delete-user-account__reason-div>select {
    font-size: 1.5rem;
    word-wrap: break-word;
    background-color: aliceblue;
    border: 0;
    border-radius: 1rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
}

.delete-user-account__reason-div>select:active{
    background-color: rgb(167, 169, 172);
}

.delete-user-acount__other-reason-input-field{
    min-height: 10rem;
    max-width: 40rem;
    max-height: 10rem;
    word-wrap:break-word;
}

.delete-user-account__error{
    align-self: center;
    margin: 0;
    color: rgb(153, 6, 6);
    font-weight: bolder;
    font-size: 1.5rem;
}

.delete-user-account-delete-btn{
    color: white;
    background-color: rgb(207, 0, 0);

    padding: 1.2rem 3rem;
    align-self: flex-start;

    font-size: 1rem;

    transition: 300ms ease-in-out;
}

.delete-user-account-delete-btn:hover{
    background-color: rgb(167, 5, 5);
}

.delete-user-account-delete-btn:active{
    outline: 0;
    scale:1.025;
}

.delete-user-account__confirmation-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.281);
}

/* delete account confirmation dialog box  */

.delete-confirmation-dialogbox{
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    gap:1rem;
}

.delete-confirmation-dialogbox__title{
    margin:1rem 0 -1rem 0;
    font-size: 100%;
    text-align: center;
}
.delete-confirmation-dialogbox__title-separator{
    width: 100%;
}
.delete-confirmation-dialogbox>h2{
    margin: -0.5rem 0 -0.5rem 0;
    font-size: 90%;
}
.delete-confirmation-dialogbox__label{
    font-size: 80%;
    font-weight: 100;
    margin: 1rem 0 1rem 0;
}
.delete-confirmation-dialogbox__label>span{
    font-weight: 1000;
    padding: 1rem;
}

.delete-confirmation-dialogbox__input{
    width: 30rem;
    font-size: 80%;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid black;
    min-width: fit-content;
}

.delete-confirmation-dialogbox__buttons-div{
    display: flex;
    justify-content: space-around;
}

.delete-confirmation-dialogbox__cancel-btn,
.delete-confirmation-dialogbox__delete-btn{
    margin-top: 1rem;
    color:white;
    padding: 1.2rem 3rem;

    transition: 200ms ease-in-out;
}

.delete-confirmation-dialogbox__cancel-btn{
    background-color: green;
}
.delete-confirmation-dialogbox__cancel-btn:hover {
    background-color: rgb(6, 105, 6);
}
.delete-confirmation-dialogbox__cancel-btn:active {
    scale: 1.05;
}
.delete-confirmation-dialogbox__delete-btn{
    background-color: red;
}
.delete-confirmation-dialogbox__delete-btn:hover {
    background-color: rgb(165, 22, 22);
}
.delete-confirmation-dialogbox__delete-btn:active {
    outline: none;
    scale:1.05;
}


@media screen and (max-width:1000px) {

    .delete-user-account__title{
        font-size:3rem;
    }
    .delete-user-account__reason-div {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 35rem;
    }
    .delete-user-account__error{
        font-size: 1.2rem;
    }
    .delete-user-account__reason-div>h3 {
        margin: 0;
    }

    .delete-user-account__reason-div>select {
        font-size: 1.5rem;
        word-wrap: break-word;
        background-color: aliceblue;
        border: 0;
        padding: 0.5rem;
        width: 100%;
    }

    .delete-user-account__reason-div>select:active {
        background-color: rgb(167, 169, 172);
    }

    .delete-confirmation-dialogbox{
        width: 80%;
        min-width: fit-content;
    }
    .delete-confirmation-dialogbox__label{
        font-size: 90%;
    }
    .delete-confirmation-dialogbox__input{
        font-size: 80%;
        width: 90%;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    .delete-confirmation-dialogbox__buttons-div{
        margin-bottom: 1rem;
    }
    .delete-user-acount__other-reason-input-field {
        max-width: 100%;
        max-height: 10rem;
        word-wrap: break-word;
    }
    .delete-confirmation-dialogbox__cancel-btn,
    .delete-confirmation-dialogbox__delete-btn{
        padding: 5% 8%;
    }
}
